<header id="template-io8gv" class="">
    <div id="template-iqtiy" class="container">
        <div id="template-iulmb" class="row">
            <div id="template-ichmx" class="col-lg-12">
                
<h1 id="template-isrlz" class="geppettoHeader">
GEPPETTO SOFTWARE</h1>

<span id="template-i0cef" class="">
This is an HTML template developed by
                        GEPPETTO</span>

            </div>
        </div>
    </div>
</header>
<section id="template-ixzbd" class="">
    <div id="template-i1op4" class="container">
        <div id="template-ic28d" class="row">
            <div id="template-irc61" class="col-lg-12">
                
<h2 id="template-ivikk" class="contentTitle">
Content Title</h2>

                <hr id="template-i2clp" class="">
            </div>
        </div>
        <div id="template-ih0eg" class="row">
            <div id="template-iv38l" class="col-lg-6">
                <div id="template-i2obh" class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione
                    quo alias fugit maiores enim odio amet, harum provident necessitatibus,
                    error eveniet iste non voluptatibus dolore rem voluptates deleniti quos?</div>
                <a
                [routerLink]="['/']" id="template-ie5vy" class="">
                    
<h4 id="template-iftqn" class="">
more</h4>

                    </a>
            </div>
            <div id="template-injql" class="col-lg-6">
                <div id="template-iuxz1" class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione
                    quo alias fugit maiores enim odio amet, harum provident necessitatibus,
                    error eveniet iste non voluptatibus dolore rem voluptates deleniti quos?</div>
                <button
                id="template-iu6hv" class="btn btn-default">Read More</button>
            </div>
        </div>
    </div>
</section>