.list-group.panel {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.list-group-item {
    border: none !important;
    background-color: rgb(85, 85, 85) !important;
    font-size: 18px;
    color: white !important;
}

.list-group-item-success {
    background-color: rgb(85, 85, 85) !important;
    font-size: 20px;
    color: white !important;
    border-radius: none !important;
}

li {
    list-style: none;
}