<footer id="template-i0wmf" class="">
    <div id="template-inmrf" class="container">
        <div id="template-izddy" class="row">
            <div id="template-izxyk" class="footer-col col-md-4">
                
<h3 id="template-iv2y9" class="">
Location</h3>

                <div id="template-itgmk" class="">
                    <div id="template-iljdi" class="">Maitland, FL 32751-5515</div>
                    <br id="template-iovmr" class="">
                    <div id="template-ibr61" class="">Email : info@geppettosoftware.com</div>
                </div>
            </div>
            <div id="template-is0vg" class="footer-col col-md-8">
                
<h3 id="template-i8zah" class="">
About Geppetto</h3>

                <div id="template-inb4l" class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum incidunt
                    reprehenderit placeat, animi quo perferendis magni doloremque tempore autem
                    ut maiores, molestias vero repellat earum optio similique deleniti explicabo
                    sint?.</div>
            </div>
        </div>
    </div>
    <div id="template-iw89d" class="container">
        <div id="template-i90bn" class="row">
            <div id="template-itzip" class="col-lg-12">Copyright © GEPPETTO 2021</div>
        </div>
    </div>
</footer>