<h2 class="screen-align">UpdateScreen</h2>
<form id="template-irjx" class="form">
    <div id="template-iyc2" class="form-group">
        <label id="template-ihtm" class="label">Name</label>
        <input placeholder="Type here your name" id="template-iw3l"
        required="true" [(ngModel)]="test.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-ibvw" class="form-group">
        <label id="template-is8g" class="label">Email</label>
        <input type="email" placeholder="Type here your email" id="template-iqah"
        required="true" [(ngModel)]="test.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-i001a" class="form-group"></div>
    <div id="template-ioln2" class="form-group">
        <button type="submit" id="template-i2lq3" (click)="GpUpdate()" class="button btn btn-primary">update</button>
    </div>
</form>