<h2 class="screen-align">Createscreen</h2>
<form id="template-iffd" class="form">
    <div id="template-iqor" class="form-group">
        <label id="template-iehh" class="label">Name</label>
        <input placeholder="Type here your name" id="template-i5lv"
        required="true" [(ngModel)]="test.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-ijaf" class="form-group">
        <label id="template-iudz" class="label">Email</label>
        <input type="email" placeholder="Type here your email" id="template-igkf"
        required="true" [(ngModel)]="test.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-iq9bm" class="form-group"></div>
    <div id="template-idiiv" class="form-group">
        <button type="submit" id="template-i8olc" (click)="GpCreate()" class="button btn btn-primary">create</button>
    </div>
</form>