<h2 class="screen-align">Getallscreen</h2>
<div id="template-i5ta" class="row">
    <div id="template-iwj1" class="cell">
        <div name="grid_template-id9k" class="">
            <table id="table" class="table table-bordered  table-striped" data-show-header="true"
            data-pagination="true" data-id-field="name">
                <thead class="table table-hover">
                    <tr>
                        <th *ngFor="let column of columnDefs">{{column.headerName}}</th>
                    </tr>
                </thead>
                <tbody class="table-design" *ngIf="rowData.length==0">
                    <td style="text-align: center;" colspan="5">No Data Found</td>
                </tbody>
                <tbody class="table-design" *ngIf="rowData.length>0">
                    <tr *ngFor="let values of rowData | slice: (page-1) * paginationPageSize :(page-1) * paginationPageSize + paginationPageSize">
                        <td>{{ values.name }}</td>
                        <td>{{ values.email }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <ngb-pagination class="d-flex justify-content-start" [(page)]="page" [maxSize]="5"
                [rotate]="true" [pageSize]="paginationPageSize" [collectionSize]="rowData.length"
                [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
        <div id="myGrid" class=""></div>
    </div>
</div>