<h2 class="screen-align">Deletescreen</h2>
<form id="template-i3j8" class="form">
    <div id="template-i8zj" class="form-group">
        <label id="template-i1zf" class="label">Name</label>
        <input placeholder="Type here your name" id="template-i2uf"
        required="true" [(ngModel)]="test.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-id2f" class="form-group">
        <label id="template-iuvh" class="label">Email</label>
        <input type="email" placeholder="Type here your email" id="template-inm3"
        required="true" [(ngModel)]="test.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-iv7z3" class="form-group"></div>
    <div id="template-i6arv" class="form-group">
        <button type="submit" id="template-i17zk" (click)="GpDelete()" class="button btn btn-primary">delete</button>
    </div>
</form>