<h2 class="screen-align">Deletescreen</h2>
<form id="template-idrt" class="form">
    <div id="template-i1dw" class="form-group">
        <label id="template-ir6l" class="label">Name</label>
        <input placeholder="Type here your name" id="template-ikv3"
        [(ngModel)]="test.name" [ngModelOptions]="{standalone: true}" class="input form-control"
        />
    </div>
    <div id="template-igd1" class="form-group">
        <label id="template-i7el" class="label">Email</label>
        <input type="email" placeholder="Type here your email" id="template-i1l4"
        [(ngModel)]="test.email" [ngModelOptions]="{standalone: true}" class="input form-control"
        />
    </div>
    <div id="template-ifumi" class="form-group">
        <button type="submit" id="template-i46rp" class="button btn btn-primary">delete</button>
    </div>
</form>