<h2 class="screen-align">Deletescreen</h2>
<form id="template-ieff" class="form">
    <div id="template-iajs" class="form-group">
        <label id="template-ii0j" class="label">Name</label>
        <input placeholder="Type here your name" id="template-irnm"
        required="true" class="input form-control" />
    </div>
    <div id="template-iwrl" class="form-group">
        <label id="template-i5lb" class="label">Email</label>
        <input type="email" placeholder="Type here your email" id="template-ikma"
        required="true" class="input form-control" />
    </div>
    <div id="template-ir3k6" class="form-group"></div>
    <div id="template-i22eh" class="form-group">
        <button type="submit" id="template-ifpna" class="button btn btn-primary">delete</button>
    </div>
</form>