<h2 class="screen-align">Updatescr</h2>
<form id="template-i9jl" class="form">
    <div id="template-i0sq" class="form-group">
        <label id="template-iuwh" class="label">Name</label>
        <input placeholder="Type here your name" id="template-ibki"
        required="true" [(ngModel)]="test.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-idrd" class="form-group">
        <label id="template-ih29" class="label">Email</label>
        <input type="email" placeholder="Type here your email" id="template-iovm"
        required="true" [(ngModel)]="test.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <button id="template-ir43m" (click)="GpDelete()" class="button btn btn-primary">delete</button>
    <div id="template-ituxx" class="form-group">
        <button type="submit" id="template-iwrpr" (click)="GpUpdate()" class="button btn btn-primary">update</button>
    </div>
</form>